<div id="comment-overlay" class='flex-row'>
    <script src='../../public/scripts/postDialogs.js' defer></script>
    <div id="comment-container" class="flex-column">
        
        <div id="post-container">
            <!-- HERE COMES THE POST-->
        </div>
        <form id="add-comment" class="flex-row" autocomplete="off" method="dialog">
            <input id='new-comment'type="text" placeholder="Add comment" >
            <button class="C-blueButton"  onclick="addComment(this)">Add</button>
        </form>

        <div id="comments" class="flex-column">
            <!-- HERE COMES THE COMMENTS-->
        </div>
    </div>
    <div id='close-overlay'>X</div>
</div>


<div id="overlay" class="flex-column">
    <div id="deletePOPUP" class="popup flex-column">
        <div class="flex-row pheader">
            <p>Do you want to delete this post?</p>
        </div>
        <div class="flex-row content">
            <p id="deleteContent" class="flex-column"></p>
        </div>
        <div class="flex-row">
            <a cancelPopup id="cancelDelete" class="C-grayButton"> Cancel </a>
            <a id="confirmDelete" class="C-redButton"> Delete </a>
        </div>
    </div>

    <div id="editPOPUP" class="popup flex-column">
        <div class="flex-row pheader">
            <p>Edit your post!</p>
        </div>
        <form id="editForm" class="flex-row content" action="/editpost" method="POST">
            <textarea name="editedContent" id="editContent" cols="30"></textarea>
        </form>
        <div class="flex-row">
            <a cancelPopup id="cancelEdit" class="C-grayButton">Cancel</a>
            <a id="confirmEdit" class="C-blueButton">Edit</a>
        </div>
    </div>
    
    <div id="reportPOPUP" class="popup flex-column">
        <div class="flex-row pheader">
            <p>Report this post</p>
        </div>
        <form id="reportForm" class="flex-column content" method="POST">
            <select name="reason">
                <option value="" disabled hidden selected>Choose a reason</option>
                <option value="spam">Spam or misleading</option>
                <option value="sexual">Sexual content </option>
                <option value="violent">Violent content</option>
                <option value="harmful">Harmful or dangerous content</option>
                <option value="other">Other</option>
            </select>
            <p>Explain</p>
            <textarea name="reasonText"  cols="30" rows="3"></textarea>

            <div class="controls flex-row">
                <button  cancelPopup class="C-grayButton" type="button">Cancel</button>
                <button id="confirmReport" class="C-redButton" type="submit">Report</button>
            </div>
        </form>
    </div>
</div>