<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/root.css">
    <link rel="stylesheet" href="/public/styles/error.css">
    <title>Error</title>
</head>
<body class="flex-column">
    <div class="flex-column container">
        <h2 class='format'>Oops!</h2>
        <h1 class="format">Error <%=status%> - <%=message%></h1>
        <button class="go-back C-underline" onclick="window.history.back()">Go back!</button>
    </div>
</body>
</html>