<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/root.css">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Typhoon</title>
</head>
<body class="flex-column">
    <main class="flex-column">
        
        <div class="flex-row logo">
            <img src="../public/res/Typhoon.svg" alt="">TYPHOON
        </div>
        <div class="flex-row buttons">
            <a href="/login" class="flex-row C-fillButton">Login</a>
            <a href="/register" class="flex-row C-fillButton">Register</a>
        </div>
    </main>
</body>
</html>