<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/root.css">
    <link rel="stylesheet" href="../public/styles/profile.css">
    <title><%=req_user.displayname%> | Typhoon</title>
</head>
<body>
    <%- include ('partials/header.ejs') %>
    <%=req_user%>
</body>
</html>