<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="public/styles/root.css">
    <link rel="stylesheet" href="styles/auth.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="scripts/auth.js"></script>
    <title>Register</title>
</head>
<body class="flex-column">
    <%if(error!=undefined){%>
        <div class="errorAlert flex-row">
            <h3 class="flex-column"><%=error%></h3>
            <a class="flex-row" onclick="hideMe(event)">X</a>
        </div>
    <%}%>
    <main class="flex-column">
        <h1 class="flex-row"><img src="../public/res/Typhoon.svg" alt="">Register</h1>
        
        <form class="flex-column" action="/register" method="POST" id="form" autocomplete="off">
           

            <div class="container">
                <input placeholder="Full Name" type="text" name="displayname" id="displayname" required>
            </div>
            <div class="container">
                <input placeholder="Email" type="email" name="email" id="email" required>
            </div>
            <div class="container">
                <input placeholder="Username" type="text" name="username" id="username" required>
            </div>
            <div class="container">
                <input placeholder="Password" type="password" name="password1" id="password1" required>
             </div>
            <div class="container">
                <input placeholder="Reenter Password" type="password" name="password2" id="password2" required>
            </div>
            <h4 id="errorMessage" class="error"></h4>
            <button class="C-fillButton" type="submit" id="submit">Register</button>
        </form>
        <a class="C-underline" href="/login">Already have an account?</a>
    </main>
</body>
</html>