html{
    background-image: url('../res/waves.png');
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    
    background-image: linear-gradient(to top left, #44bbeea0, #0088bba0);
    background-repeat: no-repeat;

}

main{
    background-image: linear-gradient(to top left, rgb(214, 214, 214), white);
    padding: 4rem 0;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.397);
    border-radius: 0.3rem;
    border: solid var(--gray);
    border-width: 0 0 0 1rem;
}

.logo{
    margin-bottom: 4rem;
    font-size: 2rem;
    color:var(--gray);
}


