
@import "./custom.css";

@font-face{
    font-family: Exo-Light;
    src: url('../res/Exo-Light.otf');
}
@font-face{
    font-family: Exo-Medium;
    src: url('/public/res/Exo-Medium.otf')
}
:root{
    --mainwhite: rgb(245, 255, 255);
    --secondwhite: rgb(240, 250, 245);
    --lightblue: #44bbee;
    --darkblue: #0088bb;
    --darkbluetrans: #008abdbf;
    --gray: #333344;
    --red: rgb(240, 0, 0);
    --green: rgb(15, 150, 15);
    --blue: rgb(40, 175, 238);
    --orange: rgb(255, 153, 0);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Exo-Light';
    box-sizing: border-box;
    text-decoration: none;
}

body{
    min-height: 100vh;
}

@media(orientation:portrait){
    html{
        font-size: 0.85rem;
    }
}
